input[type='search'] , textarea , .input-span , input[type='text']  {
    border: 1px solid lightgray  !important;
    border-radius: 5px  !important;
    padding: 5px !important ;
}

input:focus , textarea:focus{
    outline: none;
    border: none;
}
input:focus , textarea:focus {
    -webkit-box-shadow: 0px 0px 8px 1px rgba(122,230,221,0.9);
    -moz-box-shadow: 0px 0px 8px 1px rgba(122,230,221,0.9);
    box-shadow: 0px 0px 8px 1px rgba(122,230,221,0.9);
}
.input-span:hover{
    -webkit-box-shadow: 0px 0px 8px 1px rgba(122,230,221,0.9);
    -moz-box-shadow: 0px 0px 8px 1px rgba(122,230,221,0.9);
    box-shadow: 0px 0px 8px 1px rgba(122,230,221,0.9);
}
.card-hover:hover{
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
}

